.device {
    margin:auto; 
    width: 640px;
    height: 960px;
    overflow: hidden;
    background-color: powderblue;
    position: relative;
  }


.scrollable-text {
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 10px;
}

.down-here {
    position: absolute;
    bottom: 20vh;
    right: 20px;   
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.color-text {
    margin: 0; /* Removes any margin */
}
.yellow-text {
    color: yellow;
    background-color: black;
    text-align: center;
    font-size: 25px;
    padding: 10px 20px;
    margin: 0px;
}

.purple-text {
    color: purple;
    background-color: yellow;
    text-align:center;
    font-size: 25px;
    padding: 10px 20px;
    margin: 0px;
}

  
  